/* Common */

html, body{
    height: 100%;
}

/* Component */

.brackets_check_container{
    display: flex;
}

.container{
    font-size: 18px;
}

#pageTitle{
    margin-bottom: 5%;
}

.control-button{
    margin-right: 20px;
    margin-top: 20px;
}

.form-group{
    margin: 2% auto;
    text-align: center;
    width: 70%;
}

textarea.form-control{
    min-height: 300px;
    font-size: 16px;
}

.form-control{
    padding: 12px;
    
}

.controlsInput{
    margin-top: 2%;
    text-align: center;
}

.queryResult{
    margin-top: 2%;
}

.table > tr td {
    text-align: left;
}

th{
    text-align: center;
}


/*  Modal Window */

.modal-header .close{
    margin-top: -27px;
}

.modal-header{
    border: none;
}

.modal-content{
    padding: 20px;
}

.close > span{
    font-size: 30px;
}

.modal-backdrop.show{
    opacity: .5;
}

.modal.fade.show{
    display: block!important;
    opacity: 1!important;
    padding-top: 2%;
}