<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="//db.onlinewebfonts.com/c/85eb01cf0c7bbcba9eda8d82a810bad6?family=MullerW00-ExtraBold">

  <link rel="stylesheet" href="css/style.css">

  <title>Отправка данных</title>
  
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      
</head>
<body>

  <div id='vueapp'>

    <div class="brackets_check_container">
          <div class="container">
              <div class="form-group">
                  <h3 id="pageTitle">{{title}}</h3>
                  <textarea class="form-control queryInput" placeholder="Добавьте запрос сюда"></textarea>
                  <div class="controlsInput">
                      <button class="btn btn-primary btn-lg control-button sendQueryBtn" v-on:click="sendQuery($event)">{{buttonSendData}}</button>
                      <button class="btn btn-primary btn-lg control-button getQueryBtn" v-on:click="getQuery($event)">{{buttonGetData}}</button>
                  </div>
                  <div class="queryResult">
                    <table class="table">
                        <thead>
                            <tr>
                                <th v-for="element in columns">
                                    {{element}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="element in data">
                                <td>
                                    {{element.bracket_id}}
                                </td>
                                <td>
                                    {{element.bracket_query}}
                                </td>
                                <td>
                                    {{element.bracket_result}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                  </div>
              </div>
          </div>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Отправка данных</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    </div>
                </div>
            </div>
      </div>


      <div class="brackets_check_container">
            <div class="container">
                <div class="form-group">
                    <h3 id="pageTitle">{{title}}</h3>
                    <textarea class="form-control queryInput" placeholder="Добавьте запрос сюда"></textarea>
                    <div class="controlsInput">
                        <button class="btn btn-primary btn-lg control-button sendQueryBtn" v-on:click="sendQuery($event)">{{buttonSendData}}</button>
                        <button class="btn btn-primary btn-lg control-button getQueryBtn" v-on:click="getQuery($event)">{{buttonGetData}}</button>
                    </div>
                    <div class="queryResult">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th v-for="element in columns">
                                      {{element}}
                                  </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr v-for="element in data">
                                  <td>
                                      {{element.bracket_id}}
                                  </td>
                                  <td>
                                      {{element.bracket_query}}
                                  </td>
                                  <td>
                                      {{element.bracket_result}}
                                  </td>
                              </tr>
                          </tbody>
                      </table>
  
                    </div>
                </div>
            </div>
  
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLabel">Отправка данных</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body"></div>
                      </div>
                  </div>
              </div>
        </div>
</div>





<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <script src="js/vueJs.js"></script>
   
</body>
</html>